/* body {
    text-align: center;
} */

section {
    border: 2px black solid;
    padding: 10px;    
}

code {
    color: white;
    background-color: black;
}

select {
    font-size: large;
}

.pokeResponses {
    margin: 30px;
    border: 2px black solid;
}